#nav-menu .bg-wrap{
    background-color: #eeeeee;
}#nav-menu-full .bg-wrap{
    background-color: #eeeeee;
}#nav-offcanvas-left .bg-wrap{
    background-color: #eeeeee;
}#nav-offcanvas-right .bg-wrap{
    background-color: #eeeeee;
}#nav-offcanvas-right-2 .bg-wrap{
    background-color: #eee;
}#nav-logo-icon .bg-wrap {
    background-color: rgba(255,255,255,0);
}
#nav-logo-icon--0 .bg-wrap {
    background-color: rgba(255,255,255,0);
}
